@model MvcCodetrace.Models.Rengement

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Rengement</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuantiteMax)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuantiteMax)
            @Html.ValidationMessageFor(model => model.QuantiteMax)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Quantite)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Quantite)
            @Html.ValidationMessageFor(model => model.Quantite)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Emplacement)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Emplacement)
            @Html.ValidationMessageFor(model => model.Emplacement)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CaveId, "Cave")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CaveId", String.Empty)
            @Html.ValidationMessageFor(model => model.CaveId)
        </div>

        @Html.HiddenFor(model => model.Id)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
